
@font-face{
    font-family: "inconsolata";
    src: url(../Fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face{
    font-family: "Poppins-Bold";
    src: url(../Fonts/Poppins-Bold.ttf);
}

* {
    box-sizing: border-box;
    border-spacing: 50px;
}

body {
    margin: 40px;
    box-shadow: 0 0 0 15px #111,
                0 0 0 0px;
                font-family: "inconsolata";
}

/*img {
    display: block;
    width: 100%;
}*/

.main-header {
    padding: 0 2px;
}
.main-header__txt{
    width: 100%;
}
.main-header_tittle {
    text-align: center;
    font-size: 2.5em;
    margin: 0px 0px;
    color: #454546;
    font-family: "Poppins-Bold";
}

/*Estilos del Menu*/
.main-nav {
    position: absolute;
    top: 300px;
    left: 0;
    background: #080808;
    width: 100%;
    list-style: none;
    padding: 10px;
    margin: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.menu{
    list-style: none;
    color: #FFF;
    width: 100%;
}
.menu__item{
    text-align: center;
    width: 150px;
    margin: auto;
}

.menu__link{
    padding: 20px;
    color: #FFF;
    text-decoration: none;
    position: relative;
    display: block;
}

.menu__link:hover{
    background: #f7f7f7;
    color: #000;
    transition: all 0.5s;
    transform: scale(1.3);
}
.mostrar{
    opacity: 1;
    visibility: visible;
}

.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu {
    font-size: 1.5em;
    border: 1px solid #454546; 
    display: block;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 10%;
    transition-duration: 0.5s;
    margin-left: auto;
}

.icon-menu:hover{
    border-color: rgb(83, 82, 69);
    background-color: rgb(83, 82, 69);
    color: #FFF;
    transition: all 0.5s;
}
.icon-menu .fa-bars:hover{
    transform: rotate(180deg);
    transition: 0.8s;
}

.header-icon {
    transition-duration: 0.4s;
    color: #FF4A00;
    position: relative;
    font-size: 30px;
}

.header-icon:hover{
    border-color: #111 solid;
    color: rgb(83, 82, 69);
    transform: rotate(360deg);
    transition: 0.8s;
}

#carrito{
    color: #FF4A00;
    font-size: 26px;
}

.taza:hover{
    color: #FF4A00;
}

.main-header__btn {
    font-size: 1.5em;
    border: 1px solid #454546; 
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 0%;
    color: #000;
}

.main-header__btn:hover{
    border-color: rgb(83, 82, 69);
    background-color: rgb(83, 82, 69);
    color: #FFF;
}

.main-header__input {
    display: block;
    padding: 10px;
    width: auto;
    border-style: solid;
    border-radius: 3.5%;
    transition-duration: 0.4s;
    width: 50%;
}

.main-header__input:hover{
    border-color: rgb(83, 82, 69);
    background-color: rgb(83, 82, 69);
    color: #FFF;
}

/*Codigo Slider*/
.container-slider-img {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
    position: relative;
}

#slider {
    position: relative;
    display: block;
    width: 100%;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0 ;
    left: 0 ;
    width: 100%;
    height: 100%;
    list-style: none;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
    border: solid 10px #000;
    box-shadow: 0 0 0 2px rgba(253, 253, 253, 0.849), 
                0 15px 50px;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px ;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: rgb(17, 17, 17);
    border: 1px solid #111;
    border-radius: 13px;
}
/*Codigo de los tres puntitos en el slider*/
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px ;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}
}

/* Codigo para el slider, se puede reutilizar
.container-slider{
    width: 90%;
    max-width: 900%;
    margin: auto;
    /*overflow: hidden;
    box-shadow: 0 0 0 10px rgba(253, 253, 253, 0.849), 
                0 15px 50px;
}

.slider{
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}
---------------------------------------------------------*/
.main {
    padding: 20px;
    padding-bottom: 200px;
}
.main-title {
    text-align: center;
    font-size: 50px;
    border: 2px solid #111;
    background-color: #111;
    color: #FFF;
}
/*ESTILOS DE PRODUCTOS*/
/*Codigo para hacer la galeria*/
.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.product {
    border: 1px solid #CCC;
    text-align: center;
    position: relative;
}
/*codigo para la tarjetita que dice NEW, el absolute hace la magia junto al transform*/
.product::before{
    content: "New";
    background: #FF4A00;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: #FFF;
    transition-duration: 0.5s;
}
.product:hover:before{
    content: "New";
    color: #f7f7f7;
    transform: rotate(0deg);
    border-radius: 3px;
    top: 10px;
}
.product:hover{
    transition-duration: 0.3s;
    background-color: #454546;
    border: solid #FF4A00;
    border-radius: 12px;
    color: #f7f7f7;
}
.product__img{
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    object-fit: cover;
}

.product__title{
    text-align: center;
    margin: 0;
}

.product__price{
    margin: 1px 38%;
    text-align: center;
    display: flex;
    color: rgb(241, 116, 13);
    font-weight: bold;
}
.add-shop{
    display: absolute;
    background: none;
    border: solid 0.5px #d1cfcf;
    font-size: 1em;
    font-family: "Poppins-Bold";
    transition: all 0.5s;
}
.add-shop:hover {
    color: #f7f7f7;
    background: #FF4A00;
    border-radius: 10px;
    border: solid 0.5px;
}
.product__icon{
    margin: 10px 0;
    display: block;
    font-size: 20px;
}

.product__icon:hover{
    color: #FF4A00;
    transition: all 0.4s;
}

.container__testimonials{
    text-align: center;
    color: #333;
    background: #f7f7f7;
    padding: 20px;
    margin: 20px 0;
}

.testimonials__txt{
    color: #777;
}

/*Imagenes con circulo al hacer hover*/
.container-editor{
    margin-top: 50px;
}

.editor__item{
    margin: auto;
    height: 200%;
    position: relative;
    overflow: hidden;
}

.editor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*circulo de las imagenes*/
.editor__circle{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -250px;
    right:  -150px;
    color: #FFF;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}
/*Esconde los circulos*/
.editor__item:hover .editor__circle{
    transform: scale(1.3);
    bottom: -90px;
    right: -50px;
    transition-duration: 0.4s;
}

.editor__item:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: all 0.5s;
}
/*los circulos y un fonblo blanco aparecen al pasar el mause*/
.editor__item:hover::before{
    opacity: 1;
}

/*codigo de los tips, iconos*/
.container-tips{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 50px;
}

.tip__btn {
    display: block;
    border: 2px solid #FF4A00;
    color: rgb(7, 7, 7);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
}

.tip__btn:hover{
    transition-duration: 0.3s;
    background-color: #FF4A00;
    border: solid #FF4A00;
    border-radius: 12px;
    color: #f7f7f7;
}

.tip i {
    font-size: 3em;
    padding: 20px 0;
}

/*Codigo footer*/
.main-footer{
    background: #151515;
    color: #FFF;
    padding: 30px 20px;
}
/*Este crea las lineas casi punteadas en el footer*/
.footer__title{
    border-bottom: 1px dotted #555;
    padding-bottom: 20px;
}

.footer__txt{
    color: #555;
}

.footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.footer__link:hover{
    color: #FFF;
}

.footer__input{
    background: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555;
    color: white;
}

.copy {
    color: #555;
}

.alert{
    z-index: 100;
}
.hide, .remove{
    display: none;
}

/*Estilos Para tablet*/
@media screen and (min-width:768px){
    .container{
        width: 100%;
        margin: auto;
    }
    .editor__item{
        height: 250px;
    }
    .main-header__btn{
        font-size: 150%;
    }
    .main-header__btn:hover{
        font-size: 150%;
    }
    .container-products{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    .main-footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

/*Estilos para web*/
@media screen and (min-width:1024px) {
    .container{
        width: 80%;
        margin: auto;
    }
    .container-editor{
        width: 70%;
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    .editor__item{
        height: 75%;
        width: 45%;

    }
    .icon-menu{
        display: none;
    }
    .main-header .container__flex{
        display: flex;
    }
    .main-header__container{
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .main-header_tittle{
        width: 100%;
        font-size: 4em;
        margin: 0;
        border-bottom: 1px solid #999;
    }
    .main-header__container:nth-child(2){
        order: -1;
    }
    .main-nav{
        visibility: visible;
        opacity: 1;
        width: 100%;
        top: 280px;
    }
    .menu{
        position: static;
        width: 100%;
        display: flex;
        background: none;
    }
    .container-products{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
    .container__testimonials{
        font-size: 1.3em;
    }
    .container-tips{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        font-size: 1em;
        justify-content: space-between;
        margin: 50px auto;
    }
    #tip-2{
        margin-top: 100px;
    }
    .container-sp{
        margin-top: 120px;
    }
    .main-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
    .copy{
        grid-column-start: span 4;
        text-align: center;
    }
}